@using CoreLibrary
@model Menu

<div class="row justify-content-lg-cehter">
    <h1>Изменить информацию</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Change">
            <div class="form-group">
                <label asp-for="Id" class="control-label">Id улья: @Model.Id</label>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" value="@Model.Name" class=" form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" value="@Model.Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Ссылка на картинку</label>
                <input asp-for="Image" value="@Model.Image" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FiledFrames" class="control-label">Заполненных рамок</label>
                <input type="number" asp-for="FiledFrames" value="@Model.FiledFrames" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CheckQuinCells" class="control-label">Проверил маточники</label>
                <input type="checkbox" asp-for="CheckQuinCells" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IsCull" class="control-label">Сделал выбраковку</label>
                <input type="checkbox" asp-for="IsCull" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CheckBeehive" class="control-label">Проверил улей</label>
                <input type="checkbox" asp-for="CheckBeehive" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class=" btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к меню</a>
</div>

