@using CoreLibrary;
@model List<Menu>

<h2>Меню</h2>
<a class="btn btn-primary" asp-controller="Client"
   asp-action="Order" role="button">
    Мой заказ
</a>
<br/>

<div class="row">
    @foreach (var menu in Model)
    {
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        <a>@menu.Name</a>
                    </h2>
                    <div>
                        <p class="font-weight-normal">@menu.Description</p>
                    </div>
                    <div>
                        <img class="card-img-top" src="@menu.Image" />
                    </div>
                    <div>
                        <p class="font-weight-normal">Заполненных рамок @menu.FiledFrames</p>
                    </div>
                    <a class="btn btn-primary" asp-controller="Client"
                       asp-action="Options" asp-route-id="@menu.Id"
                       role="button">
                       Настроить опции
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<div>
    <a asp-action="Index">Вернуться к вводу номера стола</a>
</div>